body {
    font-family: Arial, sans-serif;
    background-color: #535353;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    text-align: center;
    margin-bottom: auto; /* Pushes container to the top */
}

.logo {
    margin-bottom: 20px;
    width: 256px;
    height: 256px;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 12px;
}

.search-bar {
    width: calc(70% - 10px); /* Adjusting width to leave space for the button */
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #535353;
    color: white;
    margin-right: 10px; /* Adding margin to the right */
}

.search-button {
    padding: 10px;
    background-color: #30c3ec;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    height: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #000000;
}

